/*
* @Author: yanhoor
* @Date:   2017-10-26 22:36:53
* @Last Modified by:   yanhoor
* @Last Modified time: 2017-10-27 12:03:42
*/
#infoDiv{
	position: relative;
	top: 10px;
}

table{
	position: relative;
	top: 30px;
	border: 1px solid black;
	border-collapse: collapse;
}

td{
	width: 20px;
	height: 20px;
	border: 1px solid black;
}